/* Tablet */
@media (max-width: 845px) {

    .hero-section__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero-section__img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .about-section-text h2,
    .services-section__start h2,
    .clients-section__start h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .mb-title {
        margin-bottom: 1.5rem;
    }

    .experience-data__number {
        font-size: 2rem;
        line-height: 2.5rem;
    }



    .modal-maxwidth-mobile {
        --bs-modal-width: 98%;
    }
}

/* End tablet */

/* Mobile */
@media (max-width: 480px) {

    .navbar-main {
        padding: .75rem 1.25rem;
    }

    .navbar-menu-start {
        display: none;
    }

    .card-service {
        /* background-color: peru; */
        flex-direction: column;
        padding: 1.25rem;
    }

    .card-service__start {
        align-items: flex-start;
        gap: 1rem;
    }

    .card-service__end {
        align-items: end;
        gap: 1.25rem;
    }

    .card-cta {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        padding: 1.5rem;
    }

    .card-cta h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .card-experience {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1.5rem;
    }

    .card-experience__end {
        width: 100%;
    }

    .card-b {
        width: 100%;
    }

    .footer {
        padding: 1.5rem;
    }

    .footer,
    .footer-list {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-list .btn {
        padding: 0;
    }

    .row-form-control {
        /* background-color: pink; */
        flex-direction: column;
        gap: 0;
    }

    .card-form {
        padding: 1.25rem;
    }

    .about-block {
        flex-direction: column;
    }

    .wrap-testimonial-cards {
        display: grid;
        grid-template-columns: auto;
        gap: 1.25rem;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section__img {
        width: 100%;
        aspect-ratio: 3/2;
    }

    .about-section {
        /* background-color: pink; */
        flex-direction: column;
        gap: 1.5rem;
    }

    .about-section__img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .about-section-text h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .wrap-experience-data {
        gap: 1rem;
    }

    .section-pd {
        padding: 1.5rem 0;
    }

    #owl-clients .item {
        /* background-color: tomato; */
        height: 5rem;
        display: flex;
        align-items: center;
    }

    #owl-clients .item img {
        width: 100%;
        height: auto;
    }

}


/* End mobile*/