/* Tablet */
@media (max-width: 768px) {}

/* End tablet */

/* Mobile */
@media (max-width: 480px) {

    .navbar-main {
        padding: .75rem 1.25rem;
    }

    .navbar-menu-start {
        display: none;
    }

    .card-service {
        /* background-color: peru; */
        flex-direction: column;
        padding: 1.25rem;
    }

    .card-service__end {
        align-items: end;
        gap: 1.25rem;
    }

    .card-cta {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        padding: 1.5rem;
    }

    .card-cta h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}


/* End mobile*/